// estilos para animaciones 

[data-anim]{
  opacity: 0;
  transition: all .5s ease-out;
}

[data-anim="child"]{
  opacity: 0;
  transform: translateY(50px);
}

[data-anim="show-in"]{
  opacity: 0;
  transform: translateY(50px);
}
[data-anim="show-out"]{
  opacity: 0;
  transform: translateY(-25px);
}

[data-anim="show-left"]{
  opacity: 0;
  transform: translateX(50px);
}

[data-anim="show-right"]{
  opacity: 0;
  transform: translateY(-50px);
}

[data-anim="fade-in"]{
  opacity: 0;
}

.inView{
  opacity: 1;
  transform: translateY(0);
}